section {
  display: flex;
  width: 100%;
  position: relative;
}
.slider-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 170px 0  220px;
  position: relative;
  .left-item {
    width: 50%;
    padding-left: 130px;


  }
  .right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    img {
      max-width: 100%;
    }


  }
}

@keyframes slide-text-animation {
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-text-animation-reverse {
  from{
    opacity: 1;
    transform: translateY(0);
  }
  to{
    opacity: 0;
    transform: translateY(50px);

  }
}

@keyframes slide-text-animation-img {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);

  }
}
@keyframes slide-text-animation-img-reverse {
  from{
    opacity: 1;
    transform: translateX(0);
  }
  to{
    opacity: 0;
    transform: translateX(50px);

  }
}

.slide-content-animate-img{
  animation-name: slide-text-animation-img;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.slider-item.test .slide-content-animate-img{
  animation-name: slide-text-animation-img-reverse;
  animation-duration: 1s;
  animation-delay: 0s;
}

.slide-content-animate{
  animation-name: slide-text-animation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.slider-item.test .slide-content-animate{
  animation-name: slide-text-animation-reverse;
  animation-duration: 1s;
  animation-delay: 0s;
}

.slider-item:not(.active){
  display: none;
}

.left-item {
  .hero {
    padding: 50px 0 115px;
    position: relative;
    .hero-text {
      margin: 0;
      font-family: 'oswaldmedium';
      font-size: 64px;
      text-transform: uppercase;
      color: #ffff;
      word-wrap: break-word;

    }
}
  .text-block {
    margin: 0 130px 63px 0;
    font-size: 24px;
    color: #333;
    animation-delay: .25s;
    p {
      margin: 0;
      line-height: 30px;
    }
  }
}
.hero::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: #f2ab1f;
    top: 80%;
    color: #ff9933;
    right: 97%;

}
.btn-shop {
  animation-delay: .75s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  max-width: 200px;
  color: #444443;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Calibri',sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  border: 1px solid #fff;
}

//page left title style here



.page-left-title {
  position: absolute;
  text-transform: uppercase;
  font-family: 'Calibri-light', sans-serif;
  font-size: 14px;
  color: #444443;
  left: 0;
  top: 44.09%;
  transform-origin: 0 0;
  letter-spacing: 1px;
  transform: translateY(55px) rotate(-90deg);

}
.page-left-title:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 1px;
  background-color: #444443;
  top: 8px;
  left: -50px;
}
.page-left-title:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 1px;
  background-color: #444443;
  top: 8px;
  right: -50px;
}


//slick slider dots style here

.dots {
  position: absolute;
  right: 0;
  left: 97%;
  top: 43.15%;
  transform: translateY(-50%);
  ul {
    li {
      padding: 5px;
      margin-bottom: 35px;
      position: relative;
      cursor: pointer;

    }
  }
}

li {

  button{
    font-family:'Calibri',sans-serif;
    font-size: 10px;
    line-height: 14px;
    background-color: transparent;
    border: none;
    transition: all .35s ease;
    outline: none;
    position: relative;
    cursor: pointer;

  }
}
li:hover button {
  color: #ffff;
}
li:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 22px;
  bottom: -30px;
  left: 17px;
  background-color: #444443;
}
li:last-child:after
{
  display: none;
}

// subscribe box style here

.sub-wrap {
  position: absolute;
  -webkit-transform: rotate(90deg) translateX(-68px);
  -ms-transform: rotate(90deg) translateX(-68px);
  transform: rotate(90deg) translateX(-68px);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  left: 99%;
  top: 68.67%;
  z-index: 2;
  cursor: pointer;
  width: 100px;
}
.sub-2{
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
  visibility: hidden;
  opacity: 0;
}
.arrow {
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/arrow.svg);
  color: #ffffff;
  width: 15px;
  height: 11px;
  margin-right: 14px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Calibri-light',sans-serif;
  font-size: 14px;
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
  transform: rotate(180deg);
}
//social style here

.icon-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  .icon {
    display: block;
    width: 20px;
    height: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 15px;
    transform: rotate(-90deg);
    transition: all .35s ease;
    opacity: .9;
    &.telegram {
      background-image: url(../img/telegram.svg);
    }
    &.youtube {
      background-image: url(../img/youtube.svg);
    }
    &.instagram {
      background-image: url(../img/instagram.svg);
    }
  }
}


// subscribe hover style here

.sub-wrap:hover .sub-1 {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);

}

.sub-wrap:hover .sub-2 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.icon:hover {
  -webkit-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg);
  opacity: 1;
}
//to bottom arrow style here
.tobottom {
  position: absolute;
  bottom: 4.5%;
  left: 50%;
  transform: rotate(270deg);
  transform: translate(-50%);
  cursor: pointer;
  z-index: 1;
  width: auto;
  padding: 12px;
  a {
    display: block;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      height: 42px;
      width: 1px;
      left: 50%;
      top: -40px;
      background-color: #ffff;
    }
  }
  .arrow {
    height: 15px;
    width: 20px;
    background-image: url(../img/arrow.svg);
    transform: rotate(0deg);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all .35s ease;
    -o-transition: .35s all ease;
    transition: all .35s ease;
  }
}
.todown {
  margin-right: 0;

}

.tobottom:hover a {
  transform: translateY(10px);
  transition: all .35s ease;
  opacity: .8;
}

//callback link style here

.callback {
  position: absolute;
  bottom: 4.5%;
  left: 100%;
  a{
    display: block;
    height: 35px;
    img {
      width: 57px;
    }
  }
}

.modal-wrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  -o-transition: .5s all ease;
  transition: all .5s ease;
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

.modal{
  width: 360px;
  max-width: 95%;
  height: auto;
  max-height: 95vh;
  overflow: auto;
  padding: 45px 10px;
  padding-bottom: 55px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  border-radius: 3px
}

.modal-wrapper.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}

.backdrop{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease-out;
  -o-transition: .5s all ease-out;
  transition: all .5s ease-out;
  z-index: 1;
  background-color: rgba(0, 0, 0, .3);
}

.menu-backdrop{
  background-color: rgba(0, 0, 0, .3);
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%)
}

.menu-wrapper.active .menu-backdrop, .menu-wrapper.active .menu-block{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}

.menu-block{
  width: 50%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  background-image: url(../img/menu-rect.png);
  background-color: rgb(157, 55, 108);
  -webkit-transition: all .5s ease-out;
  -o-transition: .5s all ease-out;
  transition: all .5s ease-out;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%)
}

.menu-block ul li a {
  display: block;
  font-family: 'oswaldmedium';
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all .35s ease;
  -o-transition: .35s all ease;
  transition: all .35s ease;
  position: relative;
  letter-spacing: 1px;
  line-height: 40px
}


.menu-block {
  padding: 100px 150px 0 150px ;
  overflow: auto;
}

.menu-block ul li {
  overflow: hidden;
}
.menu-block ul li a {
  display: block;
  font-family: 'oswaldmedium';
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all .35s ease;
  -o-transition: .35s all ease;
  transition: all .35s ease;
  position: relative;
  letter-spacing: 1px;
  line-height: 40px;
}
.menu-block ul li a:after {
  content: "";
  width: 30px;
  height: 40px;
  background-image: url(../img/right-arrow.png);
  background-repeat: no-repeat;
  background-size: 20px;
  position: absolute;
  left: -30px;
  top: 70%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-block ul li a:hover {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  color: #ff9017
}


//modal window style here


.modal {
  width: 360px;
  max-width: 95%;
  height: auto;
  max-height: 95vh;
  overflow: auto;
  padding: 45px 10px;
  padding-bottom: 55px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}


.menu-footer {
  position: relative;
  padding-top: 20px;
}

.menu-footer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: #ff9017
}

.menu-footer ul li a:hover {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  color: #ff9017
}

.menu-footer .socials {
  position: absolute;
  right: 0;
  bottom: 0
}

.menu-footer .socials .lang {
  font-family: Conv_Oswald-Light;
  font-size: 18px;
  color: #fff;
  position: relative;
  padding-left: 5px;
  padding-right: 7px;
  cursor: pointer;
  line-height: 40px;
  display: inline-block
}


.menu-footer .socials .lang {
  font-family: 'oswaldmedium';
  font-size: 18px;
  color: #fff;
  position: relative;
  padding-left: 5px;
  padding-right: 7px;
  cursor: pointer;
  line-height: 40px;
  display: inline-block;
}
li:after {
  content: "";
  display: none;
}

.close-btn {
  position: absolute;
  top: 22%;
  left: 87%;
}


.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .5s ease;
  -o-transition: .5s all ease;
  transition: all .5s ease;
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06)
}

  .container{
  max-width: 95%;
    height: auto;
  max-height: 95vh;
  overflow: auto;
    padding: 60px;
  padding-bottom: 55px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  border-radius: 3px;
    .header {
      letter-spacing: 1px;
      font-family: 'oswaldmedium';
      font-size: 32px;
      line-height: 1.4;
      text-transform: uppercase;
      color: #444443;
      margin: 0;
      padding: 0;
      margin-bottom: 25px;
    }
  }
//.cart-popup-component.active {
//  opacity: 1;
//  visibility: visible;
//  -webkit-transform: scale(1);
//  -ms-transform: scale(1);
//  transform: scale(1)
//}
.modal-toggle-button {
  right: 0;
  top: 0;
}
.modal .header {
  text-align: center
}

.modal #sucs {
  margin-bottom: 30px;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase
}

.modal .button {
  background-color: #ff9017
}

.cart-popup-component .overflow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.3)
}

.container {
  width: 1100px;
  max-width: 95%;
  height: auto;
  max-height: 95vh;
  overflow: auto;
  padding: 60px;
  padding-bottom: 55px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  border-radius: 3px
}


.modal.form .right-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}