* {

}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri.eot');
  src: url('../fonts/Calibri.eot') format('embedded-opentype'),
  url('../fonts/Calibri.woff') format('woff'),
  url('../fonts/Calibri.ttf') format('truetype'),
  url('../fonts/Calibri.svg#Calibri') format('svg');
}

@font-face {
  font-family: 'oswaldmedium';
  src: url('../fonts/oswald-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Calibri-light';
  src: url('../fonts/Calibri-Light.eot');
  src: url('../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Calibri-Light.woff') format('woff'),
  url('../fonts/Calibri-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}




body{
  min-width: 320px;
  font-family: 'Calibri', 'Arial', sans-serif;
}